* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#numCont {
    width: 399px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-size: 50px;
}

#screen {
    background-color: darkgrey;
    width: 532px;
    height: 100px;
    font-size: 50px;
    display: flex;
    border: 3px solid black;
}

#bottomScreen {
    color: white;
    width: 532px;
    height: 75px;
    background-color: dimgrey;
    border: 3px solid black;
}

button {
    width: 133px;
    height: 75px;
    border: 3px solid black;
    font-weight: bold;
    font-size: 50px;
}

#allCont {
    display: flex;
    width: 532px;
}

#propertiesCont {
    display: flex;
    flex-direction: column;
    width: 25%;
    flex-wrap: wrap;
}

#clearButt {
    background-color: rgb(170, 111, 2);
    width: 399px;
}

.tile {
    background-color: darkgrey;
}

#dot,
.prop,
#reverseNum {
    background-color: oldlace;
}
#strCont{
    display: flex;
    flex-direction:column;
}
#propCont {
    display: flex;
}
#equ {
    height: 150px;
    background-color: rgb(75, 75, 110);
}
#pi {
    height: 150px;
}